.row {
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter-width / 2;

  @each $breakpoint-type, $breakpoint in $breakpoints {
    .col-#{$breakpoint-type}0 {
      padding: $gutter-width / 2;
      display: none;
    }

    @for $col from 1 through $col-count {
      @media #{$breakpoint} {
        .col-#{$breakpoint-type}#{$col} {
          padding: $gutter-width / 2;
          width: 100% / $col-count * $col;
        }

        .push-#{$breakpoint-type}#{$col} {
          margin-right: 100% / $col-count * $col;
        }
      }
    }
  }

  & + & {
    margin-top: $gutter-width / 2;
  }
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.wrap {
  flex-wrap: wrap;
}
