.Container {
  position: relative;
  align-self: stretch;
}

.Canvas {
  background: transparent;
  border: 1px solid black;
}

.Recording,
.Ready {
  cursor: crosshair;  
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  margin: 1px;
  width: 100%;
}